<div class="page-container">
  <section class="site-section site-section-light site-section-top
    themed-background-dark">
    <div class="container text-center">
      <h1 class="animation-slideDown">
        <%= image_tag @shop.avatar.url, size: Settings.shops.image_size %>
        <strong><%= @shop.name %></strong>
        <br>
        <%= @shop.address %>
      </h1>
    </div>
  </section>
</div>
<section class="site-content site-section">
  <div class="row">
    <div class="form-create-shop col-md-10 col-md-offset-1">
      <div class="text-center">
        <%= form_tag shop_path(@shop.id), method: :get do %>
          <%= select_tag :status, options_for_select(Table.statuses),
            include_blank: t(".all"), onclick: "this.form.submit()" %> 
        <% end %>
      </div>
      <div>
        <%= render "tables/table"%>
      </div>
    </div>
  </div>
</section>
