<div id="main-container">
  <div id="page-content">
    <div class="content-header">
      <ul class="nav-horizontal text-center">
        <li class="active">
          <%= link_to admin_shop_types_path do %>
            <i class="fa fa-bar-chart"></i><%= t "shop_types" %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_requests_path do %>
            <i class="fa fa-ambulance"></i><%= t "requests" %>
          <% end %>
        </li>
        <li>
          <a href="page_ecom_order_view.html">
            <i class="gi gi-shopping_cart"></i>
            <%= t "shop" %>
          </a>
        </li>
        <li>
          <a href="page_ecom_products.html">
            <i class="gi gi-shopping_bag"></i>
            <%= t "product" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
