<div class="content-header">
  <ul class="nav-horizontal text-center">
    <li>
      <%= link_to admin_shop_types_path do %>
        <i class="fa fa-list"></i><%= t ".shop_types" %>
      <% end %>
    </li>
    <li>
      <%= link_to admin_requests_path do %>
        <i class="fa fa-envelope"></i><%= t ".requests" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-university"></i>
        <%= t ".shops" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-user"></i>
        <%= t ".users" %>
      <% end %>
    </li>
    <li>
      <%= link_to admin_categories_path do %>
        <i class="fa fa-list"></i><%= t ".categories" %>
      <% end %>
    </li>
  </ul>
</div>
