<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <a href="page_ready_user_profile.html">
            <%= image_tag current_user.avatar %>
          </a>
        </div>
        <div class="sidebar-user-name"><%= current_user.user_name %></div>
      </div>
      <ul class="sidebar-nav">
        <li>
          <%= link_to admin_path do %>
            <i class="fa fa-home"></i>
            <span class="sidebar-nav-mini-hide"><%= t ".dashboard" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-user"> </i><%= t ".users" %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_shop_types_path do %>
            <i class="fa fa-list"> </i><%= t ".shop_types" %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_requests_path do %>
            <i class="fa fa-envelope"></i><%= t ".requests" %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-university"></i><%= t ".shop" %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-coffee"></i><%= t ".product" %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_categories_path do %>
            <i class="fa fa-list"> </i><%= t ".categories" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
