<div class="content-header">
  <ul class="nav-horizontal text-center">
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-bar-chart"></i><%= t ".statistic" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-university"></i>
        <%= t ".shops" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-share-square-o"></i>
        <%= t ".suggestions" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-list"></i><%= t ".categories" %>
      <% end %>
    </li>
  </ul>
</div>
