<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <a href="page_ready_user_profile.html">
            <%= image_tag current_user.avatar %>
          </a>
        </div>
        <div class="sidebar-user-name"><%= current_user.user_name %></div>
      </div>
      <ul class="sidebar-nav">  
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-bar-chart"></i>
            <span class="sidebar-nav-mini-hide"><%= t ".statistic" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-list-ul"></i>
            <span class="sidebar-nav-mini-hide"><%= t ".shops" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to shop_owner_suggestions_path do %>
            <i class="fa fa-share-square-o"></i>
            <span class="sidebar-nav-mini-hide"><%= t ".suggestions" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-list-ul"></i>
            <span class="sidebar-nav-mini-hide"><%= t ".categories" %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
