<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <span class="sidebar-brand">
        <%= link_to admin_path do %>
          <i class="fa fa-coffee "></i>
          <span class="sidebar-nav-mini-hide">
            <strong><%= t ".fcafe" %></strong>
          </span>
        <% end %>
      </span>
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <%= link_to "#" do %>
            <%= image_tag current_user.avatar %>
          <% end %>
        </div>
        <div class="sidebar-user-name"><%= current_user.user_name %></div>
        <div class="sidebar-user-links">
          <%= link_to "#" do %>
            <i class="fa fa-user"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fa fa-envelope-o"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fa fa-cog"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-bar-chart"></i>
            <span class="sidebar-nav-mini-hide"><%= t ".statistic" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-university"></i>
            <span class="sidebar-nav-mini-hide"><%= t ".shop" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-share-square-o"> </i>
            <span class="sidebar-nav-mini-hide"><%= t ".suggestion" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-list-ul"> </i>
            <span class="sidebar-nav-mini-hide"><%= t ".categories" %></span>
          <% end %>
        </li>
      </ul>    
    </div>
  </div>
</div>
