<header>
  <div class="container">
    <%= link_to root_path, class: "site-logo" do %>
      <strong><%= t "home" %></strong>
    <% end %>
    <nav>
      <ul class="site-nav">
        <% if user_signed_in? %>
          <li>
            <a href="javascript:void(0)" class="site-nav-sub">
              <i class="fa fa-th-list site-nav-arrow"></i>
            </a>
            <ul>
              <li>
                <%= link_to t(".request_shop"), shops_path %>
              </li>
              <li>
                <%= link_to t(".suggestion"), suggestions_path %>
              </li>
              <li>
                <%= link_to t(".about"), "#" %>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" class="site-nav-sub">
              <i class="glyphicon glyphicon-user site-nav-arrow"></i>
              <%= current_user.email %>
            </a>
            <ul>
              <li>
                <%= link_to t(".profile"), "#" %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to t(".login"), new_user_session_path %>
          </li>
          <li>
            <%= link_to t(".signup"), new_user_registration_path %>
          </li>
        <% end %>        
      </ul>
    </nav>
  </div>
</header>
